<h1>Are you sure you want to delete this supplier:</h1>

<form action="/suppliers/<%= @supplier.id %>/delete" method="post">
  <input type="submit" name="delete" value="Yes, delete Supplier">
</form>

<form action="/suppliers">
  <input type="submit" name="Supplier list" value="No, return to Supplier list">
</form>
