<h1>Are you sure you want to delete this supplier:</h1>

<h2><a href="/suppliers/<%= @supplier.id %>/delete">Yes, confirm delete</a></h2>

<h2><a href="/suppliers">No, return to Supplier list</a></h2>
