<div class="home-container">
  <div class="options">
        <div class="opt-suppliers"><a href="/suppliers">Suppliers</a></div>
        <div class="opt-products"><a href="/products">Products</a></div>
        <div class="opt-stock"><a href="/stock">Inventory</a></div>
      </div>
  </div>
