<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Urban Green</title>
  </head>
  <body>
    <ul>
      <li><a href="/">Urban Green</a></li>
    <li><a href="/suppliers">Suppliers</a></li>
    <li><a href="/products">Products</a></li>
    <li><a href="/inventory">Inventory</a></li>
  </ul>
    <%= yield %>
  </body>
</html>
