<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <title>Urban Green</title>
    <link rel="stylesheet" type="text/css" href="styles/layout.css">
  </head>
  <body>
    <div class="banner-container">
      <div class="menu">
        <div class="home"><a href="/">Urban Green</a></div>
          <div class="navigation-links">
            <div class="sup"><a href="/suppliers">Suppliers</a></div>
            <div class="products"><a href="/products">Products</a></div>
            <div class="stock"><a href="/stock">Inventory</a></div>
          </div>
      </div>
    </div>
      <%= yield %>
  </body>
</html>
