<link rel="stylesheet" type="text/css" href="../../styles/layout.css">
<h1>Add new Stock</h1>

<form action="/stock" method="post">

  <label for="product_select">Select Product:</label>
  <select id="product_select" name="product_id">
    <% for product in @products %>
    <option value=<%= product.id %>><%= product.name %></option>
    <% end %>
  </select>

  <label for="supplier_select">Select Supplier:</label>
  <select id="supplier_select" name="supplier_id">
    <% for supplier in @suppliers %>
    <option value=<%= supplier.id %>><%= supplier.name %></option>
    <% end %>
  </select>

  <label for="stock_quantity">Quantity:</label>
  <input type="number" name="stock_quantity" value="0" >

  <label for="buying_cost">Buying Cost</label>
  <input type="number" step="0.01" name="buying_cost" value="0.00">

  <label for="selling_price">Selling Price</label>
  <input type="number" step="0.01" name="selling_price" value="0.00">

  <input type="submit" name="Save New Product">
</form>
